.game {
  display: flex;
  flex-direction: column;
  color: #eee;
  margin-top: 10%;
}

.gameBoard {
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
}

.gameInfo {
  margin: 20px auto;
  text-align: center;
}

.gameInfo > ol {
  text-align: center;
  padding-left: 0;
}

.gameInfo > ol > .buttonCenter {
  list-style: none;
}

.gameInfo > ol > .buttonCenter:first-child > button {
  margin-top: 0;
}

.gameInfo > ol > .buttonCenter > button {
  width: 200px;
  height: 30px;
  background-color: black;
  border: 0.5px solid #eee;
  border-radius: 5px;
  margin-top: 10px;
  color: #eee;
}
